<p-panel header="Cliente : {{clienteName}}"></p-panel>



<div class="containerDashboard">

  <p-card header="Dominios" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Agrupamiento lógico de Enlaces
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Reportes" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Impresión de Informes
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Fallas Asociadas" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Detalle de Fallas Asociadas a Enlaces
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Enlaces Asociados" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Detalle de Enlaces del CLiente
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Importación de Traps" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Servicios de Importación de Archivos de Traps
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Estadísticas" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Estadisticas
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Edificios/Sucursales" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">

    </ng-template>
    <p>
      Detalle de Sucursales
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Ingresar" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>

</div>


